<button class="btn btn-default" data-element="back">{{{ backButtonLabel }}}</button>
<button class="btn btn-success">{{{ submitButtonLabel }}}</button>

<img class="phone" src="{{ item.images.[0] }}">

<h1>{{{ item.name }}}</h1>

<p>{{{ item.description }}}</p>

<ul class="phone-thumbs">
  {{#each item.images}}

  <li>
    <img src="{{ this }}">
  </li>

  {{/each}}
</ul>